  <h1>Inventory Management</h1>
  
  <!-- Display flash message -->
  <% if (notice && notice.length > 0) { %>
    <div class="flash-message success">
      <p><%= notice[0] %></p>
    </div>
  <% } %>

  <!-- links to the add classification and add inventory processes -->
  <ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Inventory</a></li>
  </ul>

